/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

.logo{
  margin: 0 auto;
  width: 700px;
}

.site{
  max-width: 1080px;
  margin:0 auto;
  padding:2.5%;
  width:100%;
}

.site-header{
  margin-top: 3rem;
}

.site-content{
  margin: 4.5rem 175px 1.5rem;
  position: relative;
}

.site-content:before{
  content: "\f10d";
  left:-175px;
}

.site-content:after{
  content: "\f10e";
  right:-175px;  
}

.site-content:before,
.site-content:after{
  color: #0c0;
  font-family: FontAwesome;
  font-size: 125px;
  line-height:120px;
  position: absolute;
  top:0;
}

.entry-content{
  margin-top: 3rem;
  p{
    font-size: 2.5rem;
  }
}

.entry-title{
  display: inline;
}

.entry-meta {
  margin-bottom: 3rem;
}

a, a:visited{
  color: #0c0;
  text-decoration: none;
}

a:hover{
  color: darken(#0c0, 20%);
}

.source{
  font-size: 1.25rem;
  font-style: italic;
}

#new-quote-button {
  margin: 0 auto;
}

#new-quote-button {
  display: block;
}

.site-footer{
  margin-top:3.75rem;
  display:flex;
  justify-content: flex-end;
  line-height:1rem;
  ul{
    display: flex;
    list-style: none;
    li{
      padding:0 1rem;
      border-right: 1px solid #fff;
    }
  }
  p{
    margin: 0;
    padding-left: 1rem;
  }
}




/* Submit a Quote Page */
