/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

.logo {
  width: 300px;
}

.site {
  max-width: 1080px;
  margin: 0 auto;
  padding: 2.5%;
}

.site-header {
  margin-top: 3rem;
}

.site-content {
  &:before,
  &:after {
    display: none;
  }
}

.entry-content {
  margin-top: 3rem;
  p {
    font-size: 1.5rem;
  }
}

.entry-title {
  display: inline;
}

.entry-meta {
  margin-bottom: 3rem;
}

.source {
  font-size: 1.25rem;
  font-style: italic;
}

button {
  display: block;
}

.site-footer {
  margin-top: 3.75rem;
  line-height: 1rem;
  ul {
    padding-left: 0;
    display: flex;
    list-style: none;
    margin-left: 0;
    li {
      &:first-child {
        padding-left: 0;
      }
      padding: 0 1rem;
      border-right: 1px solid #fff;
    }
  }
}

/*                          Archives                      */

.site-content {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    li {
      font-size: 1.25rem;
      list-style: none;
      padding-right: 1rem;
      margin-bottom: 0.5rem;
    }
  }
}

/*  About */

.post-107 {
  .entry-content {
    margin: 1.5rem 0;
    p {
      font-size: 1rem;
    }
  }
}

/* Submit a Quote Page */

.quote-author {
  display: block;
}

.quote-form {
  input {
    width: 100%;
  }
  .submit-btn {
    width: auto;
  }
  .quote-field {
    display: flex;
    flex-direction: column;
  }
  textarea,
  label,
  input {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 620px) {
  .logo {
    width: 500px;
  }
  .site-footer {
    display: flex;
    justify-content: flex-start;
    p {
      margin: 0;
      padding-left: 1rem;
    }
  }
  .entry-content {
    p {
      font-size: 1.75rem;
    }
  }
  .quote-form {

    input {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1080px) {
  .logo {
    margin: 0 auto;
    width: 700px;
  }
  .site-content {
    margin: 4.5rem 175px 1.5rem;
    position: relative;
    &:before {
      content: "\f10d";
      left: -175px;
    }
    &:after {
      content: "\f10e";
      right: -175px;
    }
    &:before,
    &:after {
      display: block;
      color: #0c0;
      font-family: FontAwesome;
      font-size: 125px;
      line-height: 120px;
      position: absolute;
      top: 0;
    }
  }
  .site-footer {
    justify-content: flex-end;
  }
  button {
    margin: 0 auto;
  }
  .entry-content {
    p {
      font-size: 2.5rem;
    }
  }
}